#nav__menu a {
  background: #163d61;
  color: #ffffff;
}
#nav__menu a svg * {
  fill: #ffffff;
}
#nav__menu a.collapsed {
  background: transparent;
  color: #163d61;
}
#nav__menu a.collapsed svg * {
  fill: #163d61;
}
#nav__menu a.collapsed:hover {
  background: #163d61;
  color: #9baab8;
}
#nav__menu a.collapsed:hover svg * {
  fill: #9baab8;
}

#accordion__menu .accordion-collapse {
  background-position-x: center !important;
  background-position-y: center !important;
  background-repeat: no-repeat !important;
  background-size: auto calc(100% - 100px) !important;
}